/*CSS reset settings here*/

* {
    margin: 0 px;
    padding: 10px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    overflow: hidden;
    height: auto;
}

#header {
    margin-bottom: 10px;
    height: 150px;
    background-color: green;
    background-position: top;
}

#navigation {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}

#main_content {
    height: 400px;
    width: 700px;
    background-color: red;
    float: right;
    clear: none;
    clear: left;
}

.subcontents {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}

#advertisement {
    height: 120px;
    width: 660px;
    margin-top: 20px;
    background-color: purple;
}