#wrapper {
    width: 700px;
    height: auto;
    padding: 20px;
    background-color: lightgray;
    overflow: hidden;
}

h1 {
    float: none;
    display: inline;
}

img {
    float: none;
    display: inline;
    height: 110px;
    width: 110px;
}

.header {
    text-align: center;
    height: auto;
}

.header img {
    width: 120px;
    height: 60px;
}

.boarderImages {
    display: block;
    float: left;
}

.boarderImages img {
    text-align: center;
    padding: 10px;
    margin: 0px 2px;
    background-color: lightslategray;
    border-style: solid;
    border-width: medium;
}

.pinkImages {
    display: block;
    float: left;
}

.pinkImages img {
    text-align: center;
    padding: 10px;
    margin: 0px 2px;
    background-color: palevioletred;
    border-style: solid;
    border-width: medium;
}