* {
    font-family: sans-serif;
    font-size: 18px;
}

a {
    color: black;
}

p {
    padding: 0px 10px;
}

h1 {
    display: inline-block;
    margin: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

h3 {
    display: inline-block;
    margin-left: 475px;
    font-size: 20px;
    font-weight: bolder;
}

h4 {
    font-weight: bolder;
    color: white;
}

h5 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

#wrapper {
    width: 1080px;
    background-image: linear-gradient(darkgrey, white, darkgrey);
}

h5 a {
    font-style: italic;
    display: inline;
    text-align: center;
}

h5 img {
    vertical-align: middle;
    height: 25px;
    display: inline;
    text-align: center;
    padding-bottom: 10px;
}

.horizontalDivider {
    background-image: linear-gradient(rgb(160, 158, 158), rgb(97, 97, 97), rgb(160, 158, 158));
    margin: 0px;
    padding: 10px;
}

#mainBlock {
    background-image: radial-gradient(rgb(131, 75, 131), rgb(31, 1, 31));
    padding: 25px;
    margin-bottom: 20px;
}

#mainBlock img:first-child {
    height: 300px;
    border: 5px solid lightgray;
    display: inline-block;
}

#mainUpper {
    display: inline-block;
    vertical-align: top;
    height: 310px;
    width: 535px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, white, darkgrey);
}

.lowerBlocks {
    display: inline-block;
    vertical-align: top;
    width: 325px;
    height: 700px;
    margin-right: 20px;
    padding: 0px;
    background-image: linear-gradient(to right, white, darkgrey);
}

.lowerBlocks:last-child {
    margin-right: 0px;
}

.lowerBlocks p {
    height: 220px;
    text-align: justify;
}

#mainBlock .lowerBlocks>img {
    display: inline-block;
    width: 50px;
    padding: 5px;
}

#mainBlock .lowerBlocks .tech {
    width: 325px;
    height: auto;
    padding: 0px;
}

button {
    background-color: rgb(0, 128, 64);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    margin: 5px auto;
    font-weight: bold;
    padding: 5px;
    box-shadow: rgba(128, 128, 128, 0.363) 5px 5px;
}

button:hover {
    background-color: gray;
    color: black;
}